.supporting {
    width: 100%;
    height: 900px;
    background-color: #171519;
    padding-top: 50px;
    margin-top: 1px;
}

.supporting-container {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 60px;
}
.info {
    width: 310px;
    height:500px;
    background: rgba(24, 23, 23, 0.985); 
    border-radius: 20px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    margin-left: 20px;
    
    padding: 30px;
}
h6{
    color: rgb(237, 235, 235);
    font-size: 18px;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 8px;
    padding-bottom: 30px;
    padding-left: 10px;
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 140px;
  }
.info li {
    color: rgb(237, 237, 237);
    font-size: 12px;
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
}

.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.show-more a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 13px 30px;
    text-decoration: none;
    background-color: rgb(245, 90, 7);
    border-radius: 12px;
    user-select: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.show-more a:hover {
    background-color: rgba(245, 90, 7, 0.705);
    color:  white;
}
@media(max-width:1100px) {
    .supporting-container {
        grid-template-columns: 260px 260px 260px;
        gap: 50px;
        padding-top: 60px;
    }
    .info {
        width: 260px;
        height:500px;
        margin-left: 20px;
        padding: 30px;
    }
}
@media(max-width:1000px) {
    .supporting .title {
        font-size: 18px;
    }
    .supporting-container {
        grid-template-columns: 260px 260px 260px;
        gap: 10px;
        padding-top: 60px;
    }
    .info {
        width: 240px;
        height:500px;
        margin-left: 10px;
        padding: 15px 12px;
    }
    .info li {
        font-size: 11px;
    }
    .box h6 {
        font-size: 16px;
        text-underline-offset: 6px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-left: 100px;  
    }
    .show-more {
        margin-top: 50px;
    }
    .show-more a { 
        font-size: 13px;
        padding: 13px 25px;
        border-radius: 10px;
    }
}
@media(max-width:850px) {
    .supporting {
        height: 1500px;
        padding-top: 50px;
    }
    .supporting .title {
        font-size: 16px;
    }
    .supporting-container {
        grid-template-columns: 260px 260px ;
        gap: 20px;
        padding-top: 60px;
    }
    .info {
        width: 240px;
        height:500px;
        margin-left: 10px;
        padding: 15px 12px;
    }
    .info li {
        font-size: 11px;
    }
    .box h6 {
        font-size: 14px;
        text-underline-offset: 6px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-left: 100px;  
    }
    .show-more {
        margin-top: 50px;
    }
    .show-more a { 
        font-size: 13px;
        padding: 13px 25px;
        border-radius: 10px;
    }
}
@media(max-width:550px) {
    .supporting {
        height: 2000px;
        padding-top: 50px;
    }
    .supporting .title {
        font-size: 16px;
        margin-left: 80px;
    }
    .supporting-container {
        grid-template-columns: 260px  ;
        gap: 20px;
        padding-top: 60px;
    }
    .info {
        width: 270px;
        height:500px;
        margin-left: 0px;
        padding: 15px 12px;
    }
    .info li {
        font-size: 11px;
    }
    .box h6 {
        font-size: 14px;
        text-underline-offset: 6px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-left: 100px;  
    }
    .show-more {
        margin-top: 50px;
    }
    .show-more a { 
        font-size: 13px;
        padding: 13px 25px;
        border-radius: 10px;
    }
}
@media(max-width:400px) {
    .supporting {
        height: 2000px;
        padding-top: 50px;
    }
    .supporting .title {
        font-size: 14px;
        margin-left: 80px;
    }
    .supporting-container {
        grid-template-columns: 220px  ;
        gap: 20px;
        padding-top: 60px;
    }
    .info {
        width: 220px;
        height:500px;
        margin-left: 0px;
        padding: 15px 12px;
    }
    .info li {
        font-size: 10px;
    }
    .box h6 {
        font-size: 12px;
        text-underline-offset: 6px;
        padding-bottom: 30px;
        padding-left: 80px;  
    }
    .show-more {
        margin-top: 50px;
    }
    .show-more a { 
        font-size: 12px;
        padding: 11px 25px;
        border-radius: 10px;
    }
}
@media(max-width:300px) {
    .supporting {
        height: 1900px;
        padding-top: 50px;
    }
    .supporting .title {
        font-size: 14px;
        margin-left: 90px;
    }
    .supporting-container {
        grid-template-columns: 180px  ;
        gap: 20px;
        padding-top: 60px;
    }
    .info {
        width: 180px;
        height:480px;
        margin-left: 0px;
        padding: 15px 12px;
    }
    .info li {
        font-size: 9px;
    }
    .box h6 {
        font-size: 11px;
        text-underline-offset: 6px;
        padding-bottom: 30px;
        padding-left: 70px;  
    }
    .show-more {
        margin-top: 50px;
    }
    .show-more a { 
        font-size: 10px;
        padding: 11px 25px;
        border-radius: 10px;
    }
}
