@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Yeseva+One&display=swap');
* {
    margin: 0;
    padding: 0;
}
.model {
	width: 100%;
	height: 200px;
	background-color: rgb(231, 229, 229);
}
.model .container {
	padding-top: 70px;
    padding-left: 150px;
}
.model .model-container {
	margin-top: 20px;
	width: 100vw;
}


.model .model-container li{
    list-style: none;
    display: inline-block;
    margin: 0 1px;
	text-align: center;
}
.model .model-container li a {
	text-decoration: none;
	color: rgb(243, 241, 241);
	font-weight: 600;
	font-size: 20px;
	border-radius: 5px;
}
.model .model-container li a:hover {
	opacity: 0.5;
}
.model .model-container .oppo {
	background-color: green;
	padding:8px 40px;
	
}
.model .model-container .vivo {
	background-color: rgb(4, 84, 150);
	padding:8px 43px;

}
.model .model-container .huawei {
	background-color: rgb(145, 36, 6);
	padding:8px 30px;
}
.model .model-container .xiaomi {
	background-color: rgb(228, 102, 11);
	padding:8px 33px;
}
.model .model-container .samsung {
	background-color: rgb(9, 73, 125);
	padding:8px 20px;
}
.model .model-container .meizu {
	background-color: rgb(5, 102, 129);
	padding:8px 36px;
}
.model .model-container .realme {
	background-color: rgb(250, 234, 5);
	padding:8px 32px;
	color: black;
}
.model .model-container .tecno {
	background-color: rgb(51, 52, 52);
	padding:8px 36px;
}
.model .model-container .motorola {
	background-color: rgb(0, 89, 164);
	padding:8px 20px;
}
.model .model-container .nokia {
	background-color: rgb(186, 101, 4);
	padding:8px 43px;
}
tbody tr .device span{
	padding: 2px;
	background-color: rgba(68, 68, 68, 0.713);
	border-radius: 5px;
	color: white;
}
tbody tr .cpu span {
	padding: 1px 8px;
	color: white;
	background-color: rgba(181, 66, 66, 0.824);
	border-radius: 2px;
}
tbody tr .function .frp {
	background-color: rgba(5, 98, 5, 0.751);
	color: white;
	padding: 2px 15px;
	border-radius: 5px;
	margin: 0 5px;
}

tbody tr .function .userlock {
	background-color: rgba(15, 97, 205, 0.829);
	color: white;
	padding: 2px 15px;
	border-radius: 5px;
}
tbody tr .function .auth {
	background-color: rgb(181, 21, 10);
	color: white;
	padding: 2px 15px;
	border-radius: 5px;
	margin-left: 4px;
}
tbody tr .function .miacc {
	background-color: rgb(234, 161, 26);
	color: white;
	padding: 2px 15px;
	border-radius: 5px;
	margin-left: 4px;
}
tbody tr .function .testpoint {
	background-color: rgb(230, 212, 11);
	color: rgb(28, 28, 28);
	padding: 2px 15px;
	border-radius: 5px;
	margin-left: 4px;
}
tbody tr .function .flyme {
	background-color: rgb(211, 133, 16);
	color: white;
	padding: 2px 12px;
	border-radius: 5px;
	margin-left: 4px;
}
tbody tr .function .unlock {
	background-color: rgb(11, 162, 188);
	color: white;
	padding: 2px 12px;
	border-radius: 5px;
	margin-left: 1px;
}
tbody tr .function .flash {
	background-color: rgb(147, 30, 165);
	color: white;
	padding: 2px 12px;
	border-radius: 5px;
	margin-left: 3px;
}
tbody tr .function .qualcomm {
	background-color: rgb(113, 112, 112);
	color: white;
	padding: 2px 12px;
	border-radius: 5px;
	margin-left: 3px;
}
tbody tr {
	font-size: 13px;
}
 .home {
	width: 100%;
    height: 100vh;
    padding-top: 20px;
}   
.home-container {
  background-color: white;
}
@media(max-width:1115px) {
	.model .container {
		padding-top: 70px;
		padding-left: 100px;
	}
    tbody tr .function {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	tbody tr .function .frp {
		width: 130px;
		padding: 2px 10px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 135px;
		padding: 2px 10px;
	}
	tbody tr .function .auth {
		width: 130px;
		padding: 2px 10px;
		margin-left: 4px;
	}
	tbody tr .function .miacc {
		width: 130px;
		padding: 2px 10px;
		margin: 0 5px;
	}
	tbody tr .function .unlock {
		width: 150px;
		padding: 2px 10px;
	}
	tbody tr .function .flash {
		width: 150px;
		padding: 2px 10px;
		margin-left: 4px;
	}
	tbody tr .function .qualcomm {
		width: 130px;
		padding: 2px 10px;
		margin-left: 4px;
	}
}
@media(max-width:1000px) {
	.model .container {
		padding-top: 70px;
		padding-left: 90px;
	}
	tbody tr .function .frp {
		background-color: rgba(5, 98, 5, 0.751);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		background-color: rgba(15, 97, 205, 0.829);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
	}
	tbody tr .function .auth {
		background-color: rgb(181, 21, 10);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin-left: 4px;
	}
}
@media(max-width:990px) {
	.model .container {
		padding-top: 70px;
		padding-left: 0px;
	}
}
@media(max-width:950px) {
	.model .container {
		padding-top: 70px;
		padding-left: 0px;
	}
	
	tbody tr .function .frp {
		width: 130px;
		background-color: rgba(5, 98, 5, 0.751);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 135px;
		background-color: rgba(15, 97, 205, 0.829);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
	}
	tbody tr .function .auth {
		width: 130px;
		background-color: rgb(181, 21, 10);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin-left: 4px;
	}
}
@media(max-width:800px) {
	.model .container {
		padding-top: 70px;
		padding-left: 0px;

	}
	tbody tr .function {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	tbody tr .function .frp {
		width: 130px;
		background-color: rgba(5, 98, 5, 0.751);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 135px;
		background-color: rgba(15, 97, 205, 0.829);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
	}
	tbody tr .function .auth {
		width: 130px;
		background-color: rgb(181, 21, 10);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin-left: 4px;
	}
	.model .model-container li a {
		text-decoration: none;
		color: rgb(243, 241, 241);
		font-weight: 600;
		font-size: 15px;
		border-radius: 5px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:8px 30px;
	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:8px 38px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:8px 25px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:8px 28px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:8px 15px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:8px 31px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:8px 27px;
		color: black;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:8px 31px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:8px 15px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:8px 33px;
	}
}
@media(max-width:600px) {
    .model {
		height: 170px;
	}
	.model .container {
		padding-top: 70px;
		padding-left: 10px;
	}
	.model .model-container {
		margin-top: 15px;
	}
	.model .model-container li a {
		font-size: 20px;
	}
	tbody tr .function .frp {
		width: 130px;
		padding: 2px 10px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 135px;
		padding: 2px 10px;
	}
	tbody tr .function .auth {
		width: 130px;
		padding: 2px 10px;
		margin-left: 4px;
	}
	.model .model-container li a {
		font-size: 15px;
		border-radius: 5px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:8px 25px;
	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:8px 33px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:8px 20px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:8px 23px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:8px 10px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:8px 26px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:8px 22px;
		color: black;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:8px 26px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:8px 10px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:8px 28px;
	}
}
@media(max-width:530px) {
    .model {
		height: 170px;
	}
	.model .container {
		padding-top: 70px;
		padding-left: 20px;
	}
	.model .model-container {
		margin-top: 15px;
	}
	.model .model-container li{
		margin: 0px;
	}
	.model .model-container li a {
		font-size: 20px;
	}
	tbody tr .function .frp {
		width: 130px;
		padding: 2px 10px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 135px;
		padding: 2px 10px;
	}
	tbody tr .function .auth {
		width: 130px;
		padding: 2px 10px;
		margin-left: 4px;
	}
	.model .model-container li a {
		font-size: 13px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:8px 20px;

	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:8px 28px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:8px 15px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:8px 18px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:8px 8px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:8px 21px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:8px 17px;
		color: black;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:8px 21px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:8px 10px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:8px 25px;
	}
	tbody tr .cpu span {
		padding: 1px 8px;
		color: white;
		background-color: rgba(181, 66, 66, 0.824);
		border-radius: 2px;
	}
	tbody tr .function .frp {
		width: 120px;
		background-color: rgba(5, 98, 5, 0.751);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 125px;
		background-color: rgba(15, 97, 205, 0.829);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
	}
	tbody tr .function .auth {
		width: 125px;
		background-color: rgb(181, 21, 10);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin-left: 4px;
	}
	tbody tr {
		font-size: 11px;
	}
}
@media(max-width:500px) {
	.model {
		height: 170px;
	}
	.model .container {
		padding-top: 70px;
		padding-left: 10px;
	}
	.model .model-container {
		margin-top: 15px;
	}
	.model .model-container li{
		margin: 0px;
	}
	.model .model-container li a {
		font-size: 10px;
	}
	tbody tr .cpu span {
		padding: 1px 8px;
		color: white;
		background-color: rgba(181, 66, 66, 0.824);
		border-radius: 2px;
	}
	tbody tr .function .frp {
		width: 120px;
		background-color: rgba(5, 98, 5, 0.751);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 125px;
		background-color: rgba(15, 97, 205, 0.829);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
	}
	tbody tr .function .auth {
		width: 125px;
		background-color: rgb(181, 21, 10);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin-left: 4px;
	}
	tbody tr {
		font-size: 11px;
	}
	.model .model-container li a {
		font-size: 13px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:8px 20px;
	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:8px 28px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:8px 15px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:8px 18px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:8px 8px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:8px 21px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:8px 17px;
		color: black;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:8px 21px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:8px 10px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:8px 25px;
	}
	
}
@media(max-width:450px) {
	.model {
		height: 170px;
	}
	.model .container {
		padding-top: 70px;
		padding-left: 10px;
	}
	.model .model-container {
		margin-top: 10px;
	}
	.model .model-container li{
		margin: 0px;
	}
	.model .model-container li a {
		font-size: 9px;
	}
	tbody tr .cpu span {
		padding: 1px 8px;
		color: white;
		background-color: rgba(181, 66, 66, 0.824);
		border-radius: 2px;
	}
	tbody tr .function .frp {
		width: 105px;
		background-color: rgba(5, 98, 5, 0.751);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 110px;
		background-color: rgba(15, 97, 205, 0.829);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
	}
	tbody tr .function .auth {
		width: 110px;
		background-color: rgb(181, 21, 10);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin-left: 4px;
	}
	tbody tr {
		font-size: 11px;
	}
	.model .model-container li a {
		font-size: 11px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:8px 18px;
	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:8px 25px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:8px 15px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:8px 18px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:8px 8px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:8px 21px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:8px 17px;
		color: black;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:8px 21px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:8px 10px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:8px 20px;
	}
	
}
@media(max-width:400px) {
    .model {
		height: 150px;
	}
	.model .container {
		padding-top: 70px;
		padding-left: 10px;
	}
	.model .model-container {
		margin-top: 5px;
	}
	.model .model-container li{
		margin: 0px;
	}
	.model .model-container li a {
		font-size: 8px;
	}
	tbody tr .cpu span {
		padding: 1px 8px;
		color: white;
		background-color: rgba(181, 66, 66, 0.824);
		border-radius: 2px;
	}
	tbody tr .function .frp {
		width: 90px;
		background-color: rgba(5, 98, 5, 0.751);
		color: white;
		padding: 2px 15px;
		border-radius: 5px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 95px;
		background-color: rgba(15, 97, 205, 0.829);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
	}
	tbody tr .function .auth {
		width: 95px;
		background-color: rgb(181, 21, 10);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin-left: 4px;
	}
	tbody tr {
		font-size: 10px;
	}
	.model .model-container li a {
		font-size: 10px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:6px 18px;
	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:6px 18px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:6px 15px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:6px 17px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:6px 8px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:6px 15px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:6px 15px;
		color: black;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:6px 18px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:6px 7px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:6px 18px;
	}
	
}
@media(max-width:350px) {
    .model {
		height: 150px;
	}
	.model .container {
		padding-top: 70px;
		padding-left: 30px;
	}
	.model .model-container {
		margin-top: 5px;
	}
	.model .model-container li{
		margin: 0px;
	}
	.model .model-container li a {
		font-size: 5px;
	}
	tbody tr .cpu span {
		padding: 1px 8px;
		color: white;
		background-color: rgba(181, 66, 66, 0.824);
		border-radius: 2px;
	}
	tbody tr .function .frp {
		width: 90px;
		background-color: rgba(5, 98, 5, 0.751);
		color: white;
		padding: 2px 15px;
		border-radius: 5px;
		margin: 0 5px;
	}
	tbody tr .function .userlock {
		width: 95px;
		background-color: rgba(15, 97, 205, 0.829);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
	}
	tbody tr .function .auth {
		width: 95px;
		background-color: rgb(181, 21, 10);
		color: white;
		padding: 2px 10px;
		border-radius: 5px;
		margin-left: 4px;
	}
	tbody tr {
		font-size: 10px;
	}
	.model .model-container li a {
		font-size: 0px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:12px 22px;
		border-radius: 0px;
	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:12px 22px;
		border-radius: 0px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:12px 22px;
		border-radius: 0px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:12px 22px;
		border-radius: 0px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:12px 22px;
		border-radius: 0px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:12px 22px;
		border-radius: 0px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:12px 22px;
		border-radius: 0px;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:12px 22px;
		border-radius: 0px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:12px 22px;
		border-radius: 0px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:12px 22px;
		border-radius: 0px;
	}
	
}
@media(max-width:300px) {
    .model {
		height: 150px;
	}
	.model .container {
		padding-top: 70px;
		padding-left: 10px;
	}
	
}
@media(max-width:250px) {
    .model {
		height: 150px;
	}
	.model .container {
		padding-top: 70px;
		padding-left: 10px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:10px 18px;
	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:10px 18px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:10px 18px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:10px 18px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:10px 18px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:10px 18px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:10px 18px;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:10px 18px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:10px 18px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:10px 18px;
	}
	
}
@media(max-width:230px) {
    .model {
		height: 150px;
	}
	.model .container {
		padding-top: 70px;
		padding-left: 0px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:10px 18px;
	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:10px 18px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:10px 18px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:10px 18px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:10px 18px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:10px 18px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:10px 18px;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:10px 18px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:10px 18px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:10px 18px;
	}
	
}
@media(max-width:200px) {
    .model {
		height: 120px;
	}
	.model .container {
		padding-top: 50px;
		padding-left: 10px;
	}
	.model .model-container .oppo {
		background-color: green;
		padding:10px 12px;
	}
	.model .model-container .vivo {
		background-color: rgb(4, 84, 150);
		padding:10px 12px;
	}
	.model .model-container .huawei {
		background-color: rgb(145, 36, 6);
		padding:10px 12px;
	}
	.model .model-container .xiaomi {
		background-color: rgb(228, 102, 11);
		padding:10px 12px;
	}
	.model .model-container .samsung {
		background-color: rgb(9, 73, 125);
		padding:10px 12px;
	}
	.model .model-container .meizu {
		background-color: rgb(5, 102, 129);
		padding:10px 12px;
	}
	.model .model-container .realme {
		background-color: rgb(250, 234, 5);
		padding:10px 12px;
	}
	.model .model-container .tecno {
		background-color: rgb(51, 52, 52);
		padding:10px 12px;
	}
	.model .model-container .motorola {
		background-color: rgb(0, 89, 164);
		padding:10px 12px;
	}
	.model .model-container .nokia {
		background-color: rgb(186, 101, 4);
		padding:10px 12px;
	}
	
}
